@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-custom-primary;
  @apply font-merriweather;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.bg-animated {
  animation: backgroundAnimation 120s linear infinite;
}
